@media screen and (min-width: 1024px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    height: 45px; // the desired height
  }
  .title-home {
    font-size: 1.3rem;
    margin-left: 10%;
  }
}
