.galery-container {
  margin-top: 10%;
  color: #b99a84;
  font-family: "Libre Baskerville", serif;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-galery {
  font-size: 1.5rem;
  color: #b99a84;
}
