.image-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.galery-container {
  margin-top: 10%;
  color: #b99a84;
  font-family: "Libre Baskerville", serif;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-galery {
  font-size: 1.5rem;
  color: #b99a84;
  margin-bottom: 5%;
}
.title-tableaux {
  margin-top: 30%;
  color: #b99a84;
  font-size: 1.2rem;
}
.cinq-terres {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.ananas {
  width: 100%;
  margin-top: 3%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.big-bang-flower {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.bouc {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.boum {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.cactus {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.feuilles {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.lac-et-lotus {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.le-sage {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.lotus {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.meduse {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.mouton {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.mouton-2 {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.venise {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.poisson-rouge {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.village {
  max-width: 100%;
  margin-top: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.link-tableau {
  text-decoration: none;
  color: #b99a84;
  border: 1px solid #b99a84;
  box-shadow: 1px 3px 20px #b99a84;
  padding-bottom: 1%;
  padding-top: 1%;
  width: 50%;
}
.space {
  margin-top: -10%;
  margin-bottom: 35%;
}
