@media screen and (min-width: 768px) {
  .title-tableaux {
    margin-top: 15%;
    color: #b99a84;
    font-size: 1.6rem;
  }
  .link-tableau {
    text-decoration: none;
    color: #b99a84;
    border: 2px solid #b99a84;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 110%;
    font-size: 1.3rem;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 1px 1px 100px #b99a84;
  }
}
