.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title-contact {
  margin-top: 25%;
  margin-bottom: 9%;

  color: #b99a84;
  font-size: 1rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
  border: 2px solid #b99a84;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ece0d4;
  padding: 3%;
  color: #b99a84;
}
.title-input {
  margin-top: 5%;
  margin-bottom: 2%;
}
.submit {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #b99a84;
  border: 1px solid #ece0d4;
  padding: 2%;
  color: #ece0d4;
  font-weight: bold;
}
