.photo-pinceaux {
  max-width: 100%;
  margin-top: 5%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.link-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.biography-link {
  margin-top: 20%;
  margin-bottom: 9%;
  text-decoration: none;
  color: #b99a84;
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
}

.web-galery-link {
  font-size: 1.2rem;
  margin-top: 15%;
  margin-bottom: 9%;
  text-decoration: none;
  color: #b99a84;
  font-family: "Libre Baskerville", serif;
}
.contact-link {
  margin-top: 15%;
  margin-bottom: 35.7%;
  text-decoration: none;
  color: #b99a84;
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
}
