@media screen and (min-width: 1024px) {
  .mentions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #b99a84;
    font-family: "Libre Baskerville", serif;
    font-size: 0.9rem;
  }
  .title-mentions {
    font-size: 0.9rem;
    margin-top: 7%;
    margin-bottom: 5%;
  }
  .atelier-agnes {
    margin-bottom: 1%;
  }
  .title-atelier {
    margin-bottom: 1%;
  }
  .link-atelier {
    text-decoration: none;
    color: black;
  }
  .dev-container {
    margin-top: 3%;
  }
  .title-dev {
    margin-bottom: 1%;
  }
  .mail-dev {
    color: black;
  }
  .title-hang {
    margin-top: 3%;
    margin-bottom: 1%;
  }
  .link-hang {
    text-decoration: none;
    color: black;
  }
  .title-cassie {
    margin-top: 3%;
    margin-bottom: 1%;
  }
  .link-evans {
    text-decoration: none;
    color: black;
  }
  .thanks-container {
    margin-top: -5%;
  }

  .title-thanks {
    font-family: "Beau Rivage", cursive;
    font-size: 1.4rem;
    margin-bottom: 5%;
  }
}
