@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b99a84;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
}
.title-entrance {
  color: #ece0d4;
  font-family: "Beau Rivage", cursive;
  font-size: 3rem;
  margin-bottom: 5px;
}
.second-title-entrance {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  color: #ece0d4;
  margin-top: 5px;
}
.title-container {
  width: 300px;
  color: #ece0d4;
  background-color: #b99a84;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.separation {
  background-color: #ece0d4;
  margin-left: 50%;
  width: 1px;
  height: 60px;
}
.enter-button {
  font-family: "Libre Baskerville", serif;
  font-weight: 800;
  color: #ece0d4;
  margin-top: 20%;
  background-color: #b99a84;
  border: 1px solid #ece0d4;
  width: 50%;
  height: 30px;
  margin-left: 25%;
}
