@media screen and (min-width: 768px) {
  .entrance-container {
    margin-top: 25%;
  }
  .title-entrance {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  .second-title-entrance {
    margin-top: 15px;
    font-size: 1.3rem;
  }
  .title-container {
    width: 100%;
  }
  .separation {
    width: 2px;
    height: 80px;
  }
  .enter-button {
    font-family: "Libre Baskerville", serif;
    font-size: 0.8rem;
    margin-top: 12%;
    width: 50%;
    height: 30px;
  }
}
