.home-container {
  color: #b99a84;
}
.groupe-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-bottom: 5%;
}
.title-work {
}
.audio {
}

.pics-work {
  width: 100%;
  margin-bottom: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.description-work {
  margin-bottom: 21.5%;
}
