.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px; // the desired height
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #b99a84;
}
.mentions-button {
  font-family: "Libre Baskerville", serif;
  font-size: 0.8rem;
  color: #ece0d4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b99a84;
  border: 1px solid #ece0d4;
  width: 110%;
  height: 30px;
  text-decoration: none;
}
