@media screen and (min-width: 768px) {
  .footer-container {
    height: 75px; // the desired height
  }
  .mentions-button {
    font-size: 1rem;
    border: 2px solid #ece0d4;
    width: 110%;
    height: 40px;
    padding: 2%;
  }
}
