.burger-container {
  background-color: #b99a84;
  border: 1px solid #ece0d4;
  width: 18%;
  display: flex;
  justify-content: center;
}
.burger-button {
  color: #ece0d4;
  font-size: 0.6rem;
  font-weight: 800;
  font-family: "Libre Baskerville", serif;
}
.home-burger {
  margin-top: 10%;
  margin-bottom: 9%;
  text-decoration: none;
  color: #b99a84;
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
}
.contact-burger {
  margin-top: 10%;
  margin-bottom: 9%;
  text-decoration: none;
  color: #b99a84;
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
}
