@media screen and (min-width: 1024px) {
  .burger-container {
    border: 1px solid #ece0d4;
    margin-right: 10%;
    width: 6%;
    height: 35%;
  }
  .burger-button {
    color: #ece0d4;
    font-size: 0.5rem;
    font-weight: 100;
    font-family: "Libre Baskerville", serif;
  }
}
