@media screen and (min-width: 768px) {
  .burger-container {
    border: 2px solid #ece0d4;
    margin-right: 10%;
  }
  .burger-button {
    color: #ece0d4;
    font-size: 0.7rem;
    font-weight: 800;
    font-family: "Libre Baskerville", serif;
  }
  .home-burger {
    margin-top: 10%;
    margin-bottom: 9%;
    text-decoration: none;
    color: #b99a84;
    font-family: "Libre Baskerville", serif;
    font-size: 1.4rem;
  }
  .contact-burger {
    margin-top: 10%;
    margin-bottom: 9%;
    text-decoration: none;
    color: #b99a84;
    font-family: "Libre Baskerville", serif;
    font-size: 1.4rem;
  }
}
