@media screen and (min-width: 768px) {
  .burger-container {
    border: 2px solid #ece0d4;
    margin-right: 10%;
  }
  .burger-button {
    color: #ece0d4;
    font-size: 0.7rem;
    font-weight: 800;
    font-family: "Libre Baskerville", serif;
  }
  .link-burger {
    margin-top: 10%;
    margin-bottom: 9%;
    text-decoration: none;
    color: #b99a84;
    font-family: "Libre Baskerville", serif;
    font-size: 1.4rem;
    border: 1px solid #ece0d4;
    padding: 3%;
    box-shadow: 8px 8px 12px #ece0d4;
    background-color: #ece0d4;
    border-radius: 50%;
  }
}
