.biography-container {
  margin-top: 23%;
  color: #b99a84;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.title-page-biography {
  margin-bottom: 10%;
}
.title-biography {
  font-size: 1.4rem;
  margin-bottom: 10%;
}
.text-biography {
  font-size: 0.9rem;
  line-height: 120%;
}
.agnes {
  max-width: 100%;
  margin-top: 20%;
  border: 1px solid black;
}
