@media screen and (min-width: 1024px) {
  .biography-container {
    margin-top: 2%;
    color: #b99a84;
    font-family: "Libre Baskerville", serif;
    margin-left: 0%;
    margin-right: 0%;
  }
  .title-page-biography {
    font-size: 0.7rem;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .title-biography {
    font-size: 0.9rem;
    margin-bottom: 2%;
  }
  .text-biography {
    font-size: 0.7rem;
    margin-bottom: 2%;
  }
  .agnes {
    width: 30%;
    height: 15%;
    margin-top: 1%;
    border: 2px solid black;
  }
}
